- unless @tags.empty?
  - content_for :side_column do
    .side-column-section
      %h1 FAQ Tags
      %ul.article_tags.list_of_links
        - tag_cloud @tags, %w(tag-size-1 tag-size-2 tag-size-3 tag-size-4) do |tag, css_class|
          %li=link_to h(tag.name.downcase), tag_faq_path(tag.name.downcase), :class => css_class
      = clear
